<div class="header_text">Examen Psicologico</div>

<%= render 'form' %>

<%= link_to 'Show', paciente_exam_expsico_path(@paciente,@exam,@expsico) , class: "normal_text"%> |
<%= link_to 'Back', paciente_exams_path(@paciente),class: "normal_text" %>
