<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ant_patologico.name %>
</p>

<%= link_to 'Edit', edit_ant_patologico_path(@ant_patologico) %> |
<%= link_to 'Back', ant_patologicos_path %>
